{% extends "brownie/layout.html"%}

{%block content%}
    <div id="content-title-container">
        <h3>{{pagename}}</h3>
    </div>
    <div id="content-description-container">
        <h5>Descripción</h5>
        <p>Una vez que han concluido la tarea, los alumnos mismos
            realizan una fase de autocontrol con el fin de aprender a
            evaluar mejor la calidad de su propio trabajo</p>
    </div>
    <div class="list-container">
        <h3>Procedimientos</h3>
        <ul class="ul-procedures">
            <li class="li-procedure">Vigilar la cocción del brownie con los palillos de dientes</li>
            </li>
        </ul>
    </div>
{%endblock%}