{% extends "brownie/layout.html"%}

{%block content%}
    <div id="content-title-container">
        <h3>{{pagename}}</h3>
    </div>
    <div id="content-description-container">
        <h5>Descripción</h5>
        <p>Durante la fase de realización del proyecto, la acción
            experiencial e investigadora pasa a ocupar un lugar prioritario.
            Se ejercita y analiza la acción creativa, autónoma y
            responsable. Cada miembro del proyecto realiza su tarea según
            la planificación o división del trabajo acordada.</p>
    </div>
    <div class="list-container">
        <h3>Procedimientos</h3>
        <ul class="ul-procedures">
            <li class="li-procedure">En un bol ponemos el chocolate y la mantequilla. Lo metemos al microondas a temperatura media para que se vaya derritiendo. Una vez derretido lo mezclamos muy bien.</li>
            <li class="li-procedure">Obtener los instrumentos mencionados en la receta</li>
            <li class="li-procedure">Agregamos el chocolate que hemos derretido junto con la mantequilla y el toque de vainilla. Seguimos mezclando</li>
            <li class="li-procedure">En un recipiente de horno ponemos un poco de mantequilla y harina para que no se nos pegue el brownie</li>
            <li class="li-procedure">Incorporamos la mezcla y cubrimos con unas chispas e introducimos al horno durante 30-35 minutos a 180º C</li>
            </li>
        </ul>
    </div>
{%endblock%}