{% extends "brownie/layout.html"%}

{%block content%}
    <div id="content-title-container">
        <h3>{{pagename}}</h3>
    </div>
    <div id="content-description-container">
        <h5>Descripción</h5>
        <p>Antes de pasar a la fase de realización del trabajo práctico, los
            miembros del grupo deben decidir conjuntamente cuál de las
            posibles variables o estrategias de solución quieren seguir. Una
            vez que los participantes en el proyecto se han puesto de
            acuerdo sobre la estrategia a seguir, ésta se comenta y discute
            intensamente con el formador.</p>
    </div>
    <div class="list-container">
        <h3>Procedimientos</h3>
        <ul class="ul-procedures">
            <li class="li-procedure">Obtener los ingredientes mencionados en la receta</li>
            <li class="li-procedure">Obtener los instrumentos mencionados en la receta</li>
            </li>
        </ul>
    </div>
{%endblock%}