{% extends "brownie/layout.html"%}

{%block content%}
    <div id="content-title-container">
        <h3>{{pagename}}</h3>
    </div>
    <div id="content-description-container">
        <h5>Descripción</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quidem omnis perspiciatis tempora saepe id quos ipsum deserunt unde, voluptatum culpa quisquam ullam atque tenetur ipsam sit cupiditate! Sapiente, suscipit.</p>
    </div>
    <div id="video-container">
        <iframe src="https://www.youtube.com/embed/_tKR_MMUZ6U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> </iframe> 
    </div>
{%endblock%}