{% extends "brownie/layout.html"%}

{%block content%}
    <div id="content-title-container">
        <h3>{{pagename}}</h3>
    </div>
    <div id="content-description-container">
        <h5>Descripción</h5>
        <p>Durante la primera fase los alumnos/aprendices recopilan las informaciones necesarias para la resolución del problema o
            tarea planteada.
            Para ellos hacen uso de las diferentes fuentes de información (libros técnicos, revistas especializadas,
            manuales, películas de vídeo, etc.).</p>
    </div>
    <div class="list-container">
        <h3>Procedimientos</h3>
        <ul class="ul-procedures">
            <li class="li-procedure">Busco la Receta de Como Hacer Un Brownie</li>
            <li class="li-procedure">Busco un lugar donde trabajar</li>
            <li class="li-procedure">Buscar precios de los ingredientes e instrumentos</li>
            <li class="li-procedure">Busco y visito un supermercado donde conseguir los ingredientes.</li>
        </ul>
    </div>
{%endblock%}