{% extends "brownie/layout.html"%}

{%block content%}
    <div id="content-title-container">
        <h3>{{pagename}}</h3>
    </div>
    <div id="content-description-container">
        <h5>Descripción</h5>
        <p>La fase de planificación se caracteriza por la elaboración del
            plan de trabajo, la estructuración del procedimiento
            metodológico y la planificación de los instrumentos y medios
            de trabajo. Indicar también que la simple elaboración del plan
            de trabajo, no siempre garantiza su realización.</p>
    </div>
    <div class="list-container">
        <h3>Procedimientos</h3>
        <ul class="ul-procedures">
            <li class="li-procedure">Ordeno el espacio donde voy a trabajar</li>
            <li class="li-procedure">Establezco un presupuesto</li>
            <li class="li-procedure">Una vez tengo los ingredientes y los instrumentos, establezco el orden en los que los voy a usar</li>
            <li class="li-procedure">Me aseguro que el horno y la licuadora funcionen.
            </li>
        </ul>
    </div>
{%endblock%}