{% extends "brownie/layout.html"%}

{%block content%}
    <div id="content-title-container">
        <h3>{{pagename}}</h3>
    </div>
    <div id="content-description-container">
        <h5>Descripción</h5>
        <p>Una vez finalizado el proyecto se lleva a cabo una discusión
            final en la que el formador y los alumnos comentan y discuten
            conjuntamente los resultados conseguidos</p>
    </div>
    <div class="list-container">
        <h3>Procedimientos</h3>
        <ul class="ul-procedures">
            <li class="li-procedure">Determinar si los ingredientes fueron los adecuados</li>
            <li class="li-procedure">Como puedo mejorar el brownie la próxima vez</li>
        </ul>
    </div>
    


{%endblock%}